.LehengaImages {
  $Taviraj: "Taviraj", serif;
  $Lora: "Lora", serif;
  font-style: normal;
  margin-top: 10rem;
  &-col1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    &:hover {
      border: 3px solid #6f40ec;
    }
  }
  &-description {
    &__p1 {
      color: var(--neutral-800, #27272a);
      text-overflow: ellipsis;
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.6rempx;
      text-transform: capitalize;
      font-family: $Taviraj;
    }
    &__p2 {
      color: var(--black, #231f20);
      font-family: $Lora;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5rem;
    }
    &__p3 {
      color: rgba(0, 0, 0, 0.64);
      font-family: $Lora;
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 140%;
    }
    &__p4 {
      color: var(--success, #219653);
      font-family: $Lora;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25rem;
      text-transform: capitalize;
    }
    &__p5 {
      color: rgba(0, 0, 0, 0.85);
      font-family: $Lora;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25rem;
      text-transform: capitalize;
    }
    &__button {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 4px;
      border: 1px solid #e6e6e6;
      background-color: white;
      color: var(--10, #000);
      text-align: center;
      font-family: $Taviraj;
      font-size: 0.88rem;
      font-weight: 400;
      line-height: 1.25rem; /* 142.857% */
      text-transform: uppercase;
      &:focus {
        background-color: var(--tertiary, #ee636f);
        color: white;
      }
    }
    &__p6 {
      @extend .LehengaImages-description__p5;
    }
    &__buttonadd {
      border-radius: 4px;
      border: 2px solid var(--tertiary, #ee636f);
      background-color: white;
      align-items: center;
      height: 3rem;
      width: 11rem;
      color: var(--tertiary, #ee636f);
      font-family: $Taviraj;
      font-size: 1rem;
      font-weight: 600;
      line-height: 160%;
      margin-right: 0.75rem;
    }
    &__buttonbuy {
      @extend .LehengaImages-description__buttonadd;
      background-color: var(--primary-2, #a47bff);
      border: none;
      color: var(--0, #fdf6fb);
    }
  }
  &-Row2 {
    &__button {
      margin-top: 5rem;
      margin-bottom: 1rem;
      border: none;
      border-bottom: 2px solid #f0e9ff;
      background-color: white;
      width: 10rem;
      height: 3.5rem;
      color: rgba(0, 0, 0, 0.85);
      text-align: center;
      font-family: $Taviraj;
      font-size: 0.88rem;
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;
    }
  }
}
#LehengaImages-description__button2 {
  width: 3rem;
  height: 2.75rem;
  margin-top: 0.75rem;
  background-color: #e6e6e6;
  border: none;
  color: var(--10, #000);
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 768px) {
  .LehengaImages {
    &-col1 {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
    &__imgbig {
      width: 100%;
    }
    &__uparrow {
      display: none;
    }
    &__downarrow {
      display: none;
    }
    &-description {
      &__buttonadd {
        margin-bottom: 1rem;
      }
    }
  }
}

// @media screen and (min-width:768px) and (max-width:992px) {
//   .LehengaImages-description{
//     &__p1{
//       font-size: 1.25rem;
//     }
//   }
// }

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .LehengaImages {
    &-col1 {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
    &__imgbig {
      width: 100%;
    }
    &__uparrow {
      display: none;
    }
    &__downarrow {
      display: none;
    }
    &-description {
      &__buttonadd {
        margin-bottom: 1rem;
      }
    }
  }
}

.OrderSummary__header {
  color: var(--black, #231f20);
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
  text-transform: capitalize;
}

.OrderSummary__header1 {
  @extend .OrderSummary__header;
  color: var(--neutral-600, #52525b);
  text-align: center;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 150%;
}

.activeButton {
  border-bottom: 2px solid var(--primary-3, #6926ff);
}
