.IndividualOrder {
  font-family: "Taviraj", serif;
  width: 80%;
  background-color: rgb(245, 243, 240);
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  &-head {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
  }
  &-order {
    &__id {
      color: rgb(25, 233, 233);
      font-size: 0.88rem;
    }
    &__placedate {
      margin-left: 2%;
      font-size: 0.75rem;
      color: #888888;
    }
    &__price {
      color: red;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
    &__ordername {
      font-size: 1rem;
      color: var(--neutral-700, #3f3f46);
      text-transform: capitalize;
    }
    &__quantity {
      color: #888888;
      font-size: 0.88rem;
    }
    &__status {
      background-color: rgb(213, 187, 156);
      height: 1.12rem;
      font-size: 0.75rem;
      width: 4rem;
      text-align: center;
      border-radius: 0.5rem;
    }
  }
}
