.Order{
  margin-top: 10rem; 
  &-buttons{
    @extend .Auth-button;
    font-size: 1.25rem;
  } 
  &-line{
    width: 80%;
  }
}

.order-button{
    color: #ee6367;
}

@media screen and (max-width:576px) {
    .Order{
        margin-top: 2rem;
        &-buttons{
          margin-bottom: 2rem;
        }
    }
    .OrderList{
        margin-bottom: 10rem;
    }
}

@media screen and (max-width:768px) {
  .Order-line{
    width: 100%;
  }
}

[value="1"]{
  background-color: white;
  &:hover{
background-color: white;
  }
}