.Order{
  margin-top: 10rem; 
  &-buttons{
    @extend .Auth-button;
    font-size: 1.25rem;
  } 
}

.order-button{
    color: #ee6367;
}

@media screen and (max-width:576px) {
    .Order{
        margin-top: 2rem;
    }
    .OrderList{
        margin-bottom: 10rem;
    }
}