.categoryContainer{
    color: var(--neutral-900, #18181B);
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-wrap: wrap;
    line-height: 1.12rem;
    gap: 1rem; 
    &-Women{
        width: 20%;
        height: auto;
        
    }
    &-link{
        text-decoration: none;
        color: var(--neutral-900, #18181B);
    }
    &__Topic{
        font-size: 0.99rem;
        font-weight: 500;
        font-family: Lora;
        margin-bottom: 1rem;
    }
    &__list{
        @extend .categoryContainer__Topic;
        font-family: "Tenor Sans";
        font-weight: 400;
        margin-top: 1rem;
        text-decoration: none;
        color: var(--neutral-900, #18181B);
    }
    &-Men{
        @extend .categoryContainer-Women;  
    }
    &-Bridal{
        @extend .categoryContainer-Women; 
    }
    &-Lehenga{
        @extend .categoryContainer-Women; 
        text-align: center;
        background-color: #F4F4F5;
        text-decoration: none;
        color: #18181B;
        &__p{
            @extend .categoryContainer__list;
            text-align: center;
            
        }
    }
    &-cancel{
        justify-content: end;
        &__button{
            border: none;
        }
    }
}
@media screen and (min-width:576px) and (max-width:1024px) {
    .categoryContainer-Lehenga{
        display: none;
    }
}

