.footer {
  font-family: "Taviraj", sans-serif;
  background-color: black;
  color: white;
  &-link{
    color: white;
    text-decoration: none;
  }
  &-container {
    margin-top: 2rem;
    line-height: 180%;
    font-style: normal;
    &__divider{
      border: none;
      border-right: #fff solid 2px;
    }
    &__location {
      @extend .footer-container;
      font-size: 1rem;
      font-weight: 400;
      text-transform: capitalize;
      display: flex;
    }
    & dt {
      @extend .footer-container;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 140%;
      text-transform: capitalize;
    }
    & dd {
      @extend .footer-container__location ;
      margin-bottom: 0.25rem;
      color: #fff;
    }
  }
  &-end-section {
    &-icons {
      margin-top: 1rem;
    }
    &-privacy {
      display: flex;
      & li {
        list-style: none;
      }
    }
  }
}


.FooterMob{
  display: none;
}

@media screen and (max-width:768px) {
 .FooterMob{
  display: inline;
 } 
 .footer{
  display: none;
}
}