.container-kurtiSection {
  &-buynow {
    &--kurti1 {
    //   background-image: url(../../Assets/LandingPage/);
    }
    &-middleSection {
        align-items: center;
        font-style: normal;
        &__description {
          @extend .container-BrideandGroomSection-buynow-middleSection__description;
          &__kurti-word {
            color: var(--secondary-500, #01666b);
            margin-left: -0.2rem;
          }
        }
        &__description2 {
          @extend .container-BrideandGroomSection-buynow-middleSection__description2;
        }
        &__button {
          @extend .container-BrideandGroomSection-buynow-middleSection__button;
          background: #01666b !important;
        }
      }
      &--kurti2 {
        // background-image: url(../Assets/Vector\ \(1\).png);
      }
  }
}

.kurta1{
    width: 100%;
}
.kurta2{
    width: 100%;
}

@media screen and (min-width:767px) and (max-width:1024px) {
    .container-kurtiSection {
        &-buynow{
            &-middleSection{
                &__description{
                    font-size: 1rem;
                }
                &__description2{
                    font-size: 0.88rem;
                }
            }
        }
    }
}