.More-policies {
  color: #ee636f;
  font-size: 1.5rem;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.More-link{
    text-decoration: none;
    &-cat{
      text-decoration: none;
      color: #ee636f;
      
    }
}

.list-group {
  margin-bottom: 2rem;
  &-item {
    font-family: "Taviraj", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}
