.Navbar-Container {
    font-family: "Taviraj", serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7rem;
    width: auto;
    margin-bottom: 2rem;
    &-section1 {
      margin-top: 3.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 7rem;
    }
    &__logo {
      height: auto;
      width: 10rem;
      justify-content: start;
    }
    &-middleSection {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      &-Category {
        font-size: 1.12rem;
        font-weight: 500;
        justify-content: start;
        &__button {
          height: auto;
          width: auto;
          color: var(--black, #231f20);
          text-align: center;
          font-size: 1.12rem;
          font-weight: 500;
          border: none;
          background-color: white;
        }
        &__button2{
          display: none;
          border: none;
          background-color: white;
        }
        &__icon {
          height: 1.12rem;
          width: 1.12rem;
        }
      }
      &-SearchOption {
        display: flex;
        flex-wrap: nowrap;
        &-section {
          display: flex;
          flex-wrap: wrap;
          background-color: #f5f5f5;
          height: 2.5rem;
          justify-content: center;
        }
        &__area {
          border: none;
          color: #888888;
          font-size: 0.98rem;
          font-style: normal;
          font-weight: 400;
          background-color: #f5f5f5;
          width: 30rem;
  
          padding: 0.7rem;
          &:focus {
            outline: none;
          }
          &__buttonContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
        &__button {
          width: 8rem;
          height: 2.82rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 0.12rem;
          color: #fff;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25rem;
          background-color: #ee636f;
          border-radius: 0.12rem;
          border: none;
        }
      }
    }
    &-CartSection {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
      border: none;
      background-color: white;
    }
  }
  
  .navBar {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  
.MobileNav{
    display: none;
    &-Container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      &__menu{
        & button{
          border: none;
          background-color: white;
          height: 50%;
          width: 50%;
          & img{
          }
        }
      }
      &__DropdownMenu{
     display: flex;
     flex-direction: column;
     gap: 2rem;
      }
    }
  }
  
  #MobileNav-Container{
    &__Dropdownbutton{
        border: none;
        font-size: 1.25rem;
        background-color: white;
        color: var(--neutral-900, #18181B);
    }
    &__Dropdownitem{
        font-size: 1.25rem;
        text-decoration: none;
    }
  }

  @media screen and (max-width:576px) {
    .MobileNav{
      display: inline;
    }
    .navBar{
      display: none;
      &-Container__button{
        font-size: 1rem;
      }
    }
    .Navbar-Container-CartSection{
        font-size: 1.25rem;
        text-align: center;
        margin-left: 0.65rem;
    }
  }

  @media screen and (min-width:576px) and (max-width:1024px) {
    .Navbar-Container{
      gap:0rem;
      float: left;
      &-middleSection{
        &-Category{
          &__button{
            display: none;
          }
          &__button2{
            display: inline;
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }
        &-SearchOption{
          &__area{
            width: 20rem;
          }
        }
      }
     &-CartSection{
      margin-left: 1rem;
      &__p{
        display: none;
      }
     } 
    }
  }
  
  
  



  


  