.NewProduct{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.product-details-container{
    $text-color: var(--neutral-900, #18181B);
    font-family: "Taviraj", serif;
    height: auto;
    width: 20rem;
    &-single-product{
        text-decoration: none;
    &__name{
        color: $text-color;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        text-transform: capitalize;  
        line-height: 1.4rem;
        letter-spacing: 0.02rem;
        color: var(--neutral-900, #18181B);
    }
    &__price{
        color: $text-color;
        font-weight: 500;
        font-size: 1.12rem;
        line-height: 1.25rem;
        letter-spacing: 0.032rem;
    }
}
}

h1{
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--secondary-500, #2A2940);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: "Taviraj", serif;
}

.NewProduct-S-md{
    display: none;
}

@media screen and (max-width:1024px) and (min-width:576px) {
    .NewProduct-md{
        display: none;
    }
    .NewProduct-S-md{
        display: inline;
    }
}
