@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tenor+Sans&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';
.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
.Navbar-Container {
  font-family: "Taviraj", serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem;
  width: auto;
  margin-bottom: 2rem;
}
.Navbar-Container-section1 {
  margin-top: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
}
.Navbar-Container__logo {
  height: auto;
  width: 10rem;
  justify-content: start;
  text-decoration: none;
}
.Navbar-Container-middleSection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Navbar-Container-middleSection-Category {
  font-size: 1.12rem;
  font-weight: 500;
  justify-content: start;
}
.Navbar-Container-middleSection-Category__button {
  height: auto;
  width: auto;
  color: var(--black, #231f20);
  text-align: center;
  font-size: 1.12rem;
  font-weight: 500;
  border: none;
  background-color: white;
}
.Navbar-Container-middleSection-Category__button2 {
  display: none;
  border: none;
  background-color: white;
}
.Navbar-Container-middleSection-Category__icon {
  height: 1.12rem;
  width: 1.12rem;
}
.Navbar-Container-middleSection-SearchOption {
  display: flex;
  flex-wrap: nowrap;
}
.Navbar-Container-middleSection-SearchOption-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  height: 2.5rem;
  justify-content: center;
}
.Navbar-Container-middleSection-SearchOption__area {
  border: none;
  color: #888888;
  font-size: 0.98rem;
  font-style: normal;
  font-weight: 400;
  background-color: #f5f5f5;
  width: 30rem;
  padding: 0.7rem;
}
.Navbar-Container-middleSection-SearchOption__area:focus {
  outline: none;
}
.Navbar-Container-middleSection-SearchOption__area__buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Navbar-Container-middleSection-SearchOption__button, .ForgetPassword-submit, .Login-button, .Login-apple, .Login-google {
  width: 8rem;
  height: 2.82rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.12rem;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  background-color: #ee636f;
  border-radius: 0.12rem;
  border: none;
}
.Navbar-Container-CartSection {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background-color: white;
}

.navBar {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MobileNav {
  display: none;
}
.MobileNav-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.MobileNav-Container__menu button {
  border: none;
  background-color: white;
  height: 50%;
  width: 50%;
}
.MobileNav-Container__DropdownMenu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 576px) {
  .MobileNav {
    display: inline;
  }
  .navBar {
    display: none;
  }
  .navBar-Container__button {
    font-size: 1rem;
  }
  .Navbar-Container-CartSection {
    font-size: 1.25rem;
    text-align: center;
    margin-left: 0.65rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  .Navbar-Container {
    gap: 0rem;
    float: left;
  }
  .Navbar-Container-middleSection-Category__button {
    display: none;
  }
  .Navbar-Container-middleSection-Category__button2 {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .Navbar-Container-middleSection-SearchOption__area {
    width: 20rem;
  }
  .Navbar-Container-CartSection {
    margin-left: 1rem;
  }
  .Navbar-Container-CartSection__p {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1240px) {
  .Navbar-Container-middleSection-SearchOption__area {
    width: 18rem;
  }
}
.categoryContainer {
  color: var(--neutral-900, #18181B);
  font-style: normal;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  line-height: 1.12rem;
  gap: 1rem;
}
.categoryContainer-Women, .categoryContainer-Lehenga, .categoryContainer-Bridal, .categoryContainer-Men {
  width: 20%;
  height: auto;
}
.categoryContainer-link {
  text-decoration: none;
  color: var(--neutral-900, #18181B);
}
.categoryContainer__Topic, .categoryContainer__list, .categoryContainer-Lehenga__p {
  font-size: 0.99rem;
  font-weight: 500;
  font-family: Lora;
  margin-bottom: 1rem;
}
.categoryContainer__list, .categoryContainer-Lehenga__p {
  font-family: "Tenor Sans";
  font-weight: 400;
  margin-top: 1rem;
  text-decoration: none;
  color: var(--neutral-900, #18181B);
}
.categoryContainer-Lehenga {
  text-align: center;
  background-color: #F4F4F5;
  text-decoration: none;
  color: #18181B;
}
.categoryContainer-Lehenga__p {
  text-align: center;
}
.categoryContainer-cancel {
  justify-content: end;
}
.categoryContainer-cancel__button {
  border: none;
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .categoryContainer-Lehenga {
    display: none;
  }
}
.Hero-image {
  width: 100%;
  margin-top: 10rem;
}

@media screen and (max-width: 576px) {
  .Hero-image {
    margin-top: 2rem;
  }
}
.NewProduct {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.product-details-container {
  font-family: "Taviraj", serif;
  height: auto;
  width: 20rem;
}
.product-details-container-single-product {
  text-decoration: none;
}
.product-details-container-single-product__name {
  color: var(--neutral-900, #18181B);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.4rem;
  letter-spacing: 0.02rem;
  color: var(--neutral-900, #18181B);
}
.product-details-container-single-product__price {
  color: var(--neutral-900, #18181B);
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 1.25rem;
  letter-spacing: 0.032rem;
}

h1 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--secondary-500, #2A2940);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Taviraj", serif;
}

.container-kurtiSection-buynow-middleSection {
  align-items: center;
  font-style: normal;
}
.container-kurtiSection-buynow-middleSection__description__kurti-word {
  color: var(--secondary-500, #01666b);
  margin-left: -0.2rem;
}
.container-kurtiSection-buynow-middleSection__button {
  background: #01666b !important;
}
.kurta1 {
  width: 100%;
}

.kurta2 {
  width: 100%;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container-kurtiSection-buynow-middleSection__description {
    font-size: 1rem;
  }
  .container-kurtiSection-buynow-middleSection__description2 {
    font-size: 0.88rem;
  }
}
.container-BrideandGroomSection {
  margin-bottom: 2rem;
  text-align: center;
}
.container-BrideandGroomSection-buynow {
  text-wrap: wrap;
  margin-bottom: 2rem;
  background-color: #F8F7F7;
  justify-content: space-between;
  display: flex;
}
.container-BrideandGroomSection-buynow-middleSection {
  justify-content: center;
  font-style: normal;
}
.container-BrideandGroomSection-buynow-middleSection__description, .container-kurtiSection-buynow-middleSection__description {
  color: var(--secondary-500, #2A2940);
  font-family: Lora;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.02rem;
  text-transform: capitalize;
}
.container-BrideandGroomSection-buynow-middleSection__description__word {
  color: #CA0114;
  margin-left: -0.2rem;
}
.container-BrideandGroomSection-buynow-middleSection__description2, .container-kurtiSection-buynow-middleSection__description2 {
  color: #564F44;
  font-family: "Tenor Sans";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.0012rem;
  text-transform: capitalize;
  margin-top: -1rem;
}
.container-BrideandGroomSection-buynow-middleSection__button, .container-kurtiSection-buynow-middleSection__button {
  border-radius: 5rem;
  background: #CA0114;
  height: 2.5rem;
  width: 9rem;
  border: none;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container-BrideandGroomSection-buynow-middleSection__description, .container-kurtiSection-buynow-middleSection__description {
    font-size: 1rem;
  }
  .container-BrideandGroomSection-buynow-middleSection__description2, .container-kurtiSection-buynow-middleSection__description2 {
    font-size: 0.88rem;
  }
}
.client-review-container {
  display: flex;
  justify-content: center;
  height: auto;
  color: var(--secondary-500, #2a2940);
  margin-top: 2rem;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}
.client-review-container__img {
  height: 60%;
}
.client-review-container-description {
  height: auto;
  display: flex;
  justify-content: start;
}
.client-review-container-description-description p {
  text-align: right;
  font-family: "Tenor Sans";
  font-size: 1.12rem;
  line-height: 1.5rem;
}
.client-review-container-description-user-description {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}
.client-review-container-description-user-description__name {
  height: auto;
  width: auto;
  border-right: 1px solid #000;
  font-weight: 500;
  font-family: "Lora", serif;
  font-size: 1.12rem;
}
.client-review-container-description-user-description__position {
  color: #505050;
  font-family: "Tenor Sans";
  font-size: 0.95rem;
}

.Testimonials-Md {
  display: none;
}

@media screen and (max-width: 576px) {
  .Testimonial-container {
    margin-bottom: 10rem;
  }
  .client-review-container-description {
    font-size: 1rem;
  }
  .client-review-container-description-user-description__name {
    font-size: 0.88rem;
  }
  .client-review-container-description-user-description__position {
    font-size: 0.88rem;
  }
}
.footer {
  font-family: "Taviraj", sans-serif;
  background-color: black;
  color: white;
}
.footer-link {
  color: white;
  text-decoration: none;
}
.footer-container, .footer-container dt, .footer-container__location dt, .footer-container__location, .footer-container dd, .footer-container__location dd {
  margin-top: 2rem;
  line-height: 180%;
  font-style: normal;
}
.footer-container__divider {
  border: none;
  border-right: #fff solid 2px;
}
.footer-container__location, .footer-container dd, .footer-container__location dd {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
}
.footer-container dt, .footer-container__location dt {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}
.footer-container dd, .footer-container__location dd {
  margin-bottom: 0.25rem;
  color: #fff;
}
.footer-end-section-icons {
  margin-top: 1rem;
}
.footer-end-section-privacy {
  display: flex;
}
.footer-end-section-privacy li {
  list-style: none;
}

.FooterMob {
  display: none;
}

@media screen and (max-width: 768px) {
  .FooterMob {
    display: inline;
  }
  .footer {
    display: none;
  }
}
.FooterMob {
  border-top: 1px solid #5F5F5F;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
.FooterMob-Button {
  border: none;
  margin-top: 1rem;
  background-color: none;
  color: #5F5F5F;
  font-size: 0.82rem;
  background-color: white;
  margin-bottom: 2rem;
  text-decoration: none;
}
.FooterMob-Button #FooterMob-Button__icon {
  fill: #5F5F5F;
}
.FooterMob-Button:hover {
  color: #EE626F;
}
.FooterMob-Button:hover #FooterMob-Button__icon {
  fill: #EE626F;
}

#CategoryIcon {
  width: 1.4rem;
  height: 1.4rem;
}

.More-policies {
  color: #ee636f;
  font-size: 1.5rem;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.More-link {
  text-decoration: none;
}
.More-link-cat {
  text-decoration: none;
  color: #ee636f;
}

.list-group {
  margin-bottom: 2rem;
}
.list-group-item {
  font-family: "Taviraj", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.LehengaImages {
  font-style: normal;
  margin-top: 10rem;
}
.LehengaImages-col1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.LehengaImages__img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.LehengaImages__img:hover {
  border: 3px solid #6f40ec;
}
.LehengaImages-description__p1 {
  color: var(--neutral-800, #27272a);
  text-overflow: ellipsis;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rempx;
  text-transform: capitalize;
  font-family: "Taviraj", serif;
}
.LehengaImages-description__p2 {
  color: var(--black, #231f20);
  font-family: "Lora", serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.LehengaImages-description__p3 {
  color: rgba(0, 0, 0, 0.64);
  font-family: "Lora", serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 140%;
}
.LehengaImages-description__p4 {
  color: var(--success, #219653);
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: capitalize;
}
.LehengaImages-description__p5, .LehengaImages-description__p6 {
  color: rgba(0, 0, 0, 0.85);
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: capitalize;
}
.LehengaImages-description__button {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background-color: white;
  color: var(--10, #000);
  text-align: center;
  font-family: "Taviraj", serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  text-transform: uppercase;
}
.LehengaImages-description__button:focus {
  background-color: var(--tertiary, #ee636f);
  color: white;
}
.LehengaImages-description__buttonadd, .LehengaImages-description__buttonbuy {
  border-radius: 4px;
  border: 2px solid var(--tertiary, #ee636f);
  background-color: white;
  align-items: center;
  height: 3rem;
  width: 11rem;
  color: var(--tertiary, #ee636f);
  font-family: "Taviraj", serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  margin-right: 0.75rem;
}
.LehengaImages-description__buttonbuy {
  background-color: var(--primary-2, #a47bff);
  border: none;
  color: var(--0, #fdf6fb);
}
.LehengaImages-Row2__button {
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid #f0e9ff;
  background-color: white;
  width: 10rem;
  height: 3.5rem;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-family: "Taviraj", serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

#LehengaImages-description__button2 {
  width: 3rem;
  height: 2.75rem;
  margin-top: 0.75rem;
  background-color: #e6e6e6;
  border: none;
  color: var(--10, #000);
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 768px) {
  .LehengaImages-col1 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
  .LehengaImages__imgbig {
    width: 100%;
  }
  .LehengaImages__uparrow {
    display: none;
  }
  .LehengaImages__downarrow {
    display: none;
  }
  .LehengaImages-description__buttonadd, .LehengaImages-description__buttonbuy {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .LehengaImages-col1 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
  .LehengaImages__imgbig {
    width: 100%;
  }
  .LehengaImages__uparrow {
    display: none;
  }
  .LehengaImages__downarrow {
    display: none;
  }
  .LehengaImages-description__buttonadd, .LehengaImages-description__buttonbuy {
    margin-bottom: 1rem;
  }
}
.OrderSummary__header, .OrderSummary__header1 {
  color: var(--black, #231f20);
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
  text-transform: capitalize;
}

.OrderSummary__header1 {
  color: var(--neutral-600, #52525b);
  text-align: center;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 150%;
}

.activeButton {
  border-bottom: 2px solid var(--primary-3, #6926ff);
}

.Description {
  color: var(--neutral-700, #3F3F46);
  font-family: "Taviraj", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-top: 1.5rem;
}

.LehengaInformation {
  font-style: normal;
  margin-top: 1.5rem;
  line-height: 180%;
}
.LehengaInformation__h1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lora", serif;
  font-size: 1.12rem;
  font-weight: 700;
}
.LehengaInformation__name1 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}
.LehengaInformation__data1 {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Tenor Sans", sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
}
.LehengaInformation__name {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
}
.LehengaInformation__name2 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.25rem;
}
.LehengaInformation__name3 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1.25rem;
}
.LehengaInformation__name4 {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Lora", serif;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.LehengaInformation__data {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Tenor Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.LehengaInformation__h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lora", serif;
  font-size: 1.12rem;
  font-weight: 700;
  margin-top: 2rem;
}
.LehengaInformation__h3 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lora", serif;
  font-size: 1.12rem;
  font-weight: 600;
  margin-top: 2rem;
}

.WomenBreadcrum {
  width: 100%;
  background-color: #f5f5f5;
  align-content: start;
  font-family: "Taviraj", serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.88rem;
}
.WomenBreadcrum__normal {
  display: flex;
  justify-content: start;
  margin-left: 7%;
  margin-top: 10rem;
}
.WomenBreadcrum-p {
  margin-top: 0.85rem;
}
.WomenBreadcrum-p__t1 {
  color: #252525;
  line-height: 1.3rem;
  margin-right: 0.5rem;
  text-decoration: none;
}
.WomenBreadcrum-p__t2 {
  color: var(--10, #000);
  line-height: 1.12rem;
  margin-left: 0.5rem;
  text-decoration: none;
}

.WomenFilter {
  font-family: "Taviraj", serif;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.form-select {
  border: none;
}
.form-select:focus {
  border: none;
  box-shadow: none;
}

.options {
  background-color: white;
}
.options:hover {
  background-color: white;
}

@media screen and (max-width: 576px) {
  .WomenBreadcrum__normal {
    margin-top: 2rem;
  }
}
.Option {
  width: 15rem;
  display: flex;
  flex-direction: column;
}
.Option__button {
  border: none;
  text-align: start;
  color: var(--neutral-800, #27272a);
  background-color: white;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
  text-transform: capitalize;
  font-family: "Taviraj", serif;
  font-size: 0.88rem;
  height: 3rem;
  width: 15rem;
}
.Option__button:focus {
  border: none;
  color: var(--tertiary, #ee636f);
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
  text-transform: capitalize;
  font-family: "Taviraj", serif;
  font-size: 0.88rem;
  background-color: #f5f5f5;
}

.CategoriesWomen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Taviraj", serif;
}
.CategoriesWomen__button1, .CategoriesWomen__button2 {
  color: #212529;
  text-align: start;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
  border: none;
  background-color: white;
  height: 2rem;
  width: 11rem;
  border-left: #000 3px solid;
  text-align: center;
  margin-bottom: 1rem;
}
.CategoriesWomen__button2 {
  color: var(--10, #000);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 240%;
  text-align: start;
}
.CategoriesWomen__button2:hover {
  color: #ee636f;
}
.CategoriesWomen__line1 {
  display: none;
}
.CategoriesWomen__buttonCon {
  display: flex;
  flex-wrap: wrap;
}
.CategoriesWomen__buttonmin {
  color: var(--neutral-900, #18181b);
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  text-transform: capitalize;
  border: #e6e6e6 solid 1.5px;
  border-radius: 4px;
  width: 5rem;
  height: 2.5rem;
  background-color: white;
}
.CategoriesWomen__buttonmin:focus {
  border: none;
  background-color: #ee636f;
  color: var(--0, #fdf6fb);
}
.CategoriesWomen__pricefilter {
  display: flex;
  gap: 1rem;
}
.CategoriesWomen__buttonapply {
  width: 6rem;
  height: 2.5rem;
  color: var(--0, #fdf6fb);
  text-align: center;
  font-size: 0.95rem;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
  text-transform: capitalize;
  background-color: #ee636f;
  border: none;
  border-radius: 4px;
}

.ColorOptionWomen__color {
  border: none;
  background-color: white;
  gap: 2rem;
  margin-bottom: 2rem;
}
.ColorOptionWomen__colors {
  display: flex;
  flex-direction: row;
}

.WomenFilterRed {
  text-align: center;
  margin-top: 2rem;
}
.WomenFilterRed-container {
  font-style: normal;
  font-family: "Taviraj", serif;
  color: var(--neutral-900, #18181b);
  text-decoration: none;
}
.WomenFilterRed__name {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 137.5%;
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}
.WomenFilterRed__price {
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 111.111%;
  letter-spacing: 0.034rem;
  margin-bottom: 1rem;
}

.WomenFilterRed-md {
  display: none;
}

@media screen and (max-width: 576px) {
  .WomenFilterRed {
    margin-bottom: 10rem;
  }
}
.UserDetails__head {
  color: var(--black, #231f20);
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
  text-transform: capitalize;
}

#userdetails {
  color: var(--text-2, #49454f);
  font-family: "Tenor Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  border: 1px solid var(--border, #dad4d9);
  background: #fff;
  width: 100%;
  height: 3rem;
  border-radius: 4px 4px 0px 0px;
  resize: none;
}
#userdetails:focus {
  background-color: none;
  box-shadow: none;
}

.userdetails__goback {
  border: none;
  border-radius: 6px;
  height: 3rem;
  width: 15rem;
  background-color: var(--text-200, #f2f4f8);
  color: var(--neutral-700, #3f3f46);
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  margin-top: 5.5rem;
  margin-left: 1rem;
}
.userdetails__whatsapporder {
  border: none;
  height: 3rem;
  width: 20rem;
  border-radius: 6px;
  background-color: var(--primary-700, #018937);
  color: var(--white, #fff);
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.Order__name, .Order__name1, .Order__priceing, .Order__sizename, .Order__size, .Order__remove, .Order__price {
  overflow: hidden;
  color: var(--neutral-800, #27272a);
  text-overflow: ellipsis;
  font-family: "Lora", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%;
  text-transform: capitalize;
  margin-right: 7rem;
}
.Order__price {
  margin-right: 0rem;
}
.Order__sizename, .Order__size, .Order__remove {
  color: var(--neutral-600, #52525b);
  font-size: 0.88rem;
  font-weight: 500;
  line-height: 142.857%;
  margin-right: 0rem;
}
.Order__size, .Order__remove {
  font-family: "Tenor Sans";
  font-weight: 400;
  line-height: 114.286%;
}
.Order__remove {
  color: var(--neutral-400, #a1a1aa);
}
.Order__remove__button {
  border: none;
  background-color: white;
  margin-right: 15rem;
  size: auto;
}
.Order__remove__button:focus {
  border: none;
  background-color: white;
}
.Order__name1, .Order__priceing {
  margin-right: 10rem;
}
.Order__priceing {
  color: var(--neutral-600, #52525b);
  font-family: "Tenor Sans";
  font-weight: 400;
  line-height: 150%;
  margin-right: 0rem;
}
.Order__total {
  color: var(--black, #231f20);
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 133.333%;
}
.Order__totalprice {
  color: var(--black, #231f20);
  text-align: right;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.Order__button {
  border: none;
  border-radius: 6px;
  background-color: var(--primary-700, #018937);
  color: var(--white, #fff);
  text-align: center;
  font-family: "Lora", serif;
  font-size: 1.12rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  height: 3rem;
  width: 100%;
  margin-top: 3rem;
}

#OrderSummary {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  #OrderSummary {
    width: 100%;
  }
}
.NotFound {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
  color: var(--secondary-500, #2A2940);
  font-family: "Taviraj", serif;
  margin-bottom: 5rem;
}
.NotFound__head {
  font-size: 4rem;
  margin-top: 3rem;
}
.NotFound__button, .noItem-button {
  border-radius: 0.25rem;
  text-transform: uppercase;
  width: 11rem;
  height: 2.82rem;
  background-color: #EE626F;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .NotFound {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}
.AboutUs {
  margin-top: 10rem;
  margin-bottom: 3rem;
  font-family: "Taviraj", serif;
}
.AboutUs__head {
  color: var(--secondary-500, #2A2940);
  margin-bottom: 2rem;
  font-size: 1.75rem;
}
.AboutUs__des {
  color: var(--secondary-500, #2A2940);
  font-size: 1rem;
  line-height: 192%;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.AboutUs__img {
  height: 436px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .AboutUs {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}
.ReturnPolicy {
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-family: "Taviraj", serif;
}
.ReturnPolicy__head {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--neutral-900, #18181B);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}
.ReturnPolicy__paragraph {
  font-size: 1rem;
  color: var(--neutral-900, #18181B);
  line-height: 170%;
  font-weight: 400;
}

.DeliveryTerms__subheading {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-family: "Taviraj", serif;
  line-height: 170%;
  font-weight: 300;
}

@media screen and (max-width: 576px) {
  .ReturnPolicy {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}
.Terms {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
.Terms__heading {
  color: var(--neutral-900, #18181B);
  font-size: 1.75rem;
  font-family: "Taviraj", serif;
  margin-bottom: 3rem;
}
.Terms__paragraph {
  color: var(--neutral-900, #18181B);
  font-size: 1rem;
  font-family: "Taviraj", serif;
  line-height: 170%;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .Terms {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}
.FAQ {
  width: 100%;
  background-color: #f5f5f5;
  align-content: start;
  font-family: "Taviraj", serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.88rem;
  margin-top: 10rem;
}

@media screen and (max-width: 576px) {
  .FAQ {
    margin-top: 2rem;
  }
}
.FAQs {
  color: var(--neutral-800, #27272a);
  font-family: "Taviraj", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.FAQs__head {
  font-size: 2.25rem;
  line-height: 48px;
  text-transform: uppercase;
  margin-left: 1.3rem;
  margin-top: 3rem;
}
.FAQs__subhead {
  font-size: 1.5rem;
  line-height: 32px; /* 133.333% */
  text-transform: capitalize;
  margin-left: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.accordion {
  margin-bottom: 7rem;
}
.accordion-item {
  border: none;
  margin-bottom: 1rem;
}
.accordion-button {
  background-color: #f5f5f5;
}
.accordion-button:focus {
  outline: none !important;
  box-shadow: none;
  background-color: white;
  color: var(--neutral-700, #3f3f46);
}
.accordion-header {
  color: var(--neutral-700, #3f3f46);
  font-family: "Taviraj", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  background-color: #f5f5f5;
}
.accordion-body {
  color: var(--neutral-700, #3f3f46);
  font-family: "Taviraj", sans-serif;
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 400;
  background-color: white;
  line-height: 20px;
}

@media screen and (max-width: 576px) {
  .accordion {
    margin-bottom: 7rem;
  }
}
.Callus {
  color: #181717;
  font-family: "Taviraj", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 5rem;
}
.Callus-p1 {
  font-size: 1.5rem;
  line-height: 32px;
}
.Callus-p2 {
  font-size: 1rem;
  line-height: 24px;
}
.Callus-button {
  border: none;
  background-color: white;
  color: #282828;
  font-size: 1rem;
  line-height: 160%; /* 25.6px */
  text-transform: capitalize;
}

.Connectus {
  font-family: "Taviraj", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.Connectus-p1 {
  color: #181717;
  font-size: 1.5rem;
  line-height: 32px;
}
.Connectus-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Connectus__button {
  border: none;
  color: var(--neutral-800, #27272a);
  font-size: 1rem;
  line-height: 180%; /* 28.8px */
  text-transform: capitalize;
  height: 2rem;
  width: 10rem;
  text-align: start;
  background-color: white;
}

.socialMediaIcon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.ContactUS {
  font-family: "Taviraj", sans-serif;
  font-style: normal;
  margin-bottom: 10rem;
  margin-top: 2rem;
}
.ContactUS-head {
  color: var(--neutral-800, #27272a);
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.ContactUS-p {
  color: var(--neutral-800, #27272a);
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}
.ContactUS-p__word {
  color: var(--neutral-800, var(--tertiary, #ee636f));
}
.ContactUS-button {
  margin-top: 5rem;
  color: var(--gray, #f5f5f5);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 20px;
  border-radius: 0.5rem;
  border: 2px solid var(--tertiary, #ee636f);
  background-color: var(--tertiary, #ee636f);
  height: 3rem;
  width: 100%;
}

.noItem {
  margin-top: 10rem;
  font-family: "Taviraj", sans-serif;
  font-style: normal;
  text-align: center;
}
.noItem-p {
  color: #181717;
  font-size: 1rem;
  line-height: 32px;
  margin-top: 0.5rem;
}
.noItem-button {
  border: 2px solid var(--tertiary, #ee636f);
  width: 20rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 576px) {
  .noItem {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .noItem-button {
    width: 100%;
  }
}
#noItem__svg {
  width: 100%;
}

.AccountDelete {
  height: 400px;
  width: 100%;
  margin-top: 0rem;
  background-color: #ffe9e9;
}
.AccountDelete-icon {
  font-size: 2rem;
}
.AccountDelete-button {
  background-color: #ffe9e9;
  border: none;
  margin-left: 85%;
}
.AccountDelete-p {
  font-family: "Taviraj", sans-serif;
  font-size: 0.88rem;
  font-weight: 300;
  color: #282828;
}
.AccountDelete-delete__button {
  background-color: #EE636F;
  font-family: "Taviraj", sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.25rem;
}

.MyAccount {
  margin-top: 10rem;
  font-family: "Taviraj", sans-serif;
}
.MyAccount-menu {
  display: flex;
  flex-direction: column;
}
.MyAccount__head {
  color: #1d2a35;
  font-size: 1.75rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
.MyAccount__editbutton {
  border: none;
  font-size: 1rem;
  color: #707070;
  background-color: white;
  margin-bottom: 1rem;
  margin-left: 90%;
}
.MyAccount__deletebutton {
  color: #f03738;
  border: 1px solid #f03738;
  background-color: #fcd7d7;
  height: 2.5rem;
  border-radius: 0.25rem;
  margin-top: 0.75rem;
}
.MyAccount__deletebutton:active {
  color: white;
  background-color: #f03738;
}
.MyAccount__deletebutton:hover {
  color: white;
  background-color: #f03738;
}

.account {
  font-size: 1rem;
  color: #1d2a35;
  font-family: "Taviraj", sans-serif;
  border: none;
  background-color: white;
  text-align: start;
  width: 15rem;
  height: 3.5rem;
  border-radius: 0.5rem;
}
.account:hover {
  background-color: #f0f0f0;
}
.account:active {
  background-color: #EE636F;
  color: white;
}

#DeleteAccount {
  background-color: #ffe9e9;
  border: none;
  height: 5rem;
  align-items: center;
  border-radius: 0.4rem;
}

@media screen and (max-width: 576px) {
  .MyAccount {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
  .MyAccount__head {
    margin-top: 2rem;
  }
}
#custom-offcanvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Adjust as needed */
  max-height: 90vh; /* Adjust as needed */
  overflow-y: auto;
  width: 40%;
  height: 80%;
}

@media screen and (max-width: 860px) {
  #custom-offcanvas {
    width: 90%;
  }
}
#edituserdetails {
  color: var(--text-2, #49454F);
  font-family: "Tenor Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.5px;
  border: 1px solid var(--border, #DAD4D9);
  background: #FFF;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  resize: none;
}
#edituserdetails:focus {
  background-color: none;
  box-shadow: none;
}

.EditAccount-changePassword {
  border: none;
  background-color: white;
  color: #49454F;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-family: "Tenor Sans";
}
.EditAccount-update {
  border: none;
  background-color: #EE636F;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-family: "Tenor Sans";
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  margin-left: 30%;
}
.EditAccount-update:hover {
  background-color: #a62c36;
}
.EditAccount-discard {
  border: none;
  background-color: #fcd7d7;
  color: #EE636F;
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-family: "Tenor Sans";
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.25rem;
}
.EditAccount-discard:hover {
  background-color: #EE636F;
  color: #fcd7d7;
}

@media screen and (max-width: 860px) {
  .EditAccount-update {
    margin-left: 0%;
  }
}
.ShippingForm {
  font-family: "Lora", serif;
  margin-top: 10rem;
}
.ShippingForm--head {
  color: var(--neutral-700, #3f3f46);
  font-size: 1.5rem;
}
.ShippingForm__checkout {
  color: white;
  border: none;
  background-color: #ee636f;
  height: 2.5rem;
  width: 15rem;
  border-radius: 0.25rem;
}

#checkbox {
  border: 1px solid var(--border, #DAD4D9);
}
#checkbox:focus {
  background-color: none;
  box-shadow: none;
}

#inputdetails {
  border: 1px solid var(--border, #DAD4D9);
}
#inputdetails:focus {
  background-color: none;
  box-shadow: none;
}

.BillingDetails {
  margin-top: 10rem;
  background-color: #F5F5F5;
  height: 11rem;
  width: 100%;
  text-align: center;
}

#billing-price {
  margin-right: 30%;
}

@media screen and (max-width: 576px) {
  .ShippingForm {
    margin-top: 2rem;
  }
  .BillingDetails {
    margin-bottom: 10rem;
    margin-top: 2rem;
  }
}
.Auth {
  margin-top: 10rem;
}
.Auth-button, .Order-buttons {
  font-size: 2rem;
  font-weight: 600;
  border: none;
  background-color: white;
  color: #888888;
}

.auth-button {
  color: #231f20;
}

@media screen and (max-width: 576px) {
  .Auth {
    margin-top: 2rem;
    margin-bottom: 10rem;
  }
}
.ForgetPassword-button, .Login__signupButton {
  margin-top: 1rem;
  border: none;
  text-decoration: none;
  background-color: white;
  color: #888888;
  font-size: 1rem;
}

.Login-button, .Login-apple, .Login-google {
  width: 100%;
  height: 2.82rem;
  border-radius: 0.25rem;
}
.Login-or {
  text-align: center;
  color: #231f20;
  text-transform: uppercase;
  font-size: 1rem;
}
.Login-google {
  background-color: #f5878a;
}
.Login__signupButton {
  margin-top: 2rem;
}
.Login-apple {
  background-color: #231f20;
}

@media screen and (max-width: 768px) {
  .Login-apple {
    margin-top: 1rem;
  }
}
.ForgetPassword {
  margin-top: 10rem;
  text-align: start;
  font-family: "Tenor Sans";
}
.ForgetPassword-head {
  font-weight: 700;
  color: #231f20;
}
.ForgetPassword-p {
  font: 1rem;
  color: #231f20;
}
.ForgetPassword-submit {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.Order {
  margin-top: 10rem;
}
.Order-buttons {
  font-size: 1.25rem;
}
.Order-line {
  width: 80%;
}

.order-button {
  color: #ee6367;
}

@media screen and (max-width: 576px) {
  .Order {
    margin-top: 2rem;
  }
  .Order-buttons {
    margin-bottom: 2rem;
  }
  .OrderList {
    margin-bottom: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .Order-line {
    width: 100%;
  }
}
.OrderDropDown {
  margin-left: 30%;
}

.IndividualOrder {
  font-family: "Taviraj", serif;
  width: 80%;
  background-color: rgb(245, 243, 240);
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}
.IndividualOrder-head {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}
.IndividualOrder-order__id {
  color: rgb(25, 233, 233);
  font-size: 0.88rem;
}
.IndividualOrder-order__placedate {
  margin-left: 2%;
  font-size: 0.75rem;
  color: #888888;
}
.IndividualOrder-order__price {
  color: red;
}
.IndividualOrder-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 5%;
  margin-left: 5%;
}
.IndividualOrder-footer__ordername {
  font-size: 1rem;
  color: var(--neutral-700, #3f3f46);
  text-transform: capitalize;
}
.IndividualOrder-footer__quantity {
  color: #888888;
  font-size: 0.88rem;
}
.IndividualOrder-footer__status {
  background-color: rgb(213, 187, 156);
  height: 1.12rem;
  font-size: 0.75rem;
  width: 4rem;
  text-align: center;
  border-radius: 0.5rem;
}/*# sourceMappingURL=App.css.map */