.ForgetPassword{
   margin-top: 10rem; 
   text-align: start;
   font-family: "Tenor Sans";
   &-head{
    font-weight: 700;
    color: #231f20;
   }
   &-p{
    font: 1rem;
    color: #231f20;
   }
   &-submit{
    @extend .Navbar-Container-middleSection-SearchOption__button;
    margin-top: 2rem;
    margin-bottom: 3rem;
   }
}
