.WomenBreadcrum {
  width: 100%;
  background-color: #f5f5f5;
  align-content: start;
  font-family: "Taviraj", serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 0.88rem;
  &__normal{
    display: flex;
    justify-content: start;
    margin-left: 8rem;
  }
  &-p {
    margin-top: 0.85rem;
    &__t1 {
      color: #252525;
      line-height: 1.3rem;
      margin-right: 0.5rem;
      text-decoration: none;
    }
    &__t2 {
      color: var(--10, #000);
      line-height: 1.12rem;
      margin-left: 0.5rem;
      text-decoration: none;
    }
  }
}

.WomenFilter {
  font-family: "Taviraj", serif;
  font-style: normal;
  margin-top: 2rem;
  display: flex;
 justify-content: space-between;
  &-b{
    border: none;
    background-color: white;
    &:focus{
      border: none;
      background-color: white;
    }
  }
  &-select {
    height: 3rem;
    width: 15rem;
    border: #000000 1.5px solid;
    background-color: white;
  }
  &-Container{
    &__prefix{
        color: #0C0C0C;

font-family: "Taviraj", serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.4rem; 
text-transform: capitalize;
    }
  }
}
