.CategoriesWomen {
  display: flex;
  flex-direction: column;
  font-family: "Taviraj", serif;
  &__button1 {
    color: #212529;
    text-align: start;
    font-size: 1.12rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: capitalize;
    border: none;
    background-color: white;
    height: 2rem;
    width: 11rem;
    border-left: #000 3px solid;
  }
  &__button2 {
    height: 2rem;
    width: 11rem;
    color: var(--10, #000);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 240%;
    border: none;
    text-transform: capitalize;
    text-align: start;
    background-color: white;
    &:hover{
        color:  #EE636F;
    }
  }
  &__line1{
    // border: 6px solid #E6E6E6;
    display: none;
  }
  &__buttonCon{
    display: flex;
  }
}

.ColorOptionWomen{
    margin-top: 2rem;
    &__color{
        border: none;
        background-color: white;
        margin-top: 2rem;
        margin-right: 0.5rem;
    }
}
