.WomenFilterRed{
    &-container{
        text-align: center;
        font-style: normal;
        font-family: "Taviraj", serif;
        color: var(--neutral-900, #18181B);
    }
    &__name{
font-size: 1rem;
font-weight: 500;
line-height: 137.5%;
letter-spacing: 0.02rem;
text-transform: capitalize;
    }
    &__price{
font-size: 1.12rem;
font-weight: 500;
line-height:  111.111% ;
letter-spacing: 0.034rem;
    }
}