.Auth{
    margin-top: 10rem;
    &-button{
        font-size: 2.5rem;
        font-weight: 600;
        border: none;
        background-color: white;
        color: #888888;

    }
}

.auth-button{
    color: #231f20;
}