
.ForgetPassword-button{
    margin-top: 1rem;
    border: none;
    text-decoration: none;
    background-color: white;
    color: #888888;
    font-size: 1rem;
    }

.Login{
    &-button{
    @extend .Navbar-Container-middleSection-SearchOption__button;
    width: 100%;
    height: 2.82rem;
    border-radius: 0.25rem;
}
&-or{
    text-align: center;
    color: #231f20;
    text-transform: uppercase;
    font-size: 1rem;
}
&-google{
    @extend .Login-button;
    background-color: #f5878a;
}
&__signupButton{
    @extend .ForgetPassword-button;
}
}

